<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AnyStateClaimsDB" connectionString="Server=.;Database=AnyStateClaimsDB;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CommandTimeout" value="120" />
  </appSettings>
</configuration>
